body {
  background-color: rgb(223, 255, 225);
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;
  margin: 0;
}
#grid {
  border: 10px solid black;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}
#lugarManzana {
  width: 100px;
  height: 100px;
}
#score{
  position: absolute;   /* ahora depende del grid */
  top: 10px;
  left: 10px;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 12px;
  font-size: 1rem;
}